# Урок 2. ФИЛЬТРАЦИЯ ДАННЫХ

### Задача 1

Напишите SQL-запрос к таблице `products` и выведите всю информацию о товарах, цена которых не превышает 100 рублей. Результат отсортируйте по убыванию цены.

Поля в результирующей таблице: product_id, name, price

In [ ]:
SELECT product_id, 
       name, 
       price
  FROM products
 WHERE price <= 100
 ORDER BY price DESC

### Задача 2

В таблице `products` найдите все товары, содержащие в своём названии последовательность символов «чай» (без кавычек). Выведите две колонки: id продукта и его название.

Поля в результирующей таблице: product_id, name

In [ ]:
SELECT product_id, 
       name
  FROM products
 WHERE name LIKE '%чай%'

### Задача 3

Выберите из таблицы `products` id и наименования только тех товаров, названия которых начинаются на букву «с» и содержат только одно слово.

Поля в результирующей таблице: product_id, name

In [ ]:
SELECT product_id, name
  FROM products
 WHERE name NOT like '% %' AND 
       name like 'с%'

### Задача 4

Составьте SQL-запрос, который выбирает из таблицы `products` все чаи стоимостью больше 60 рублей и вычисляет для них цену со скидкой в 25%. Скидку в % необходимо указать в отдельном столбце в формате текста, то есть вот так: «25%» (без кавычек). Столбцы со скидкой и новой ценой назовите соответственно discount и price_discounted.

Также необходимо любым известным способом избавиться от «чайного гриба»: вряд ли менеджер имел в виду и его, когда ставил нам задачу.

Поля в результирующей таблице: product_id, name, price, discount, price_discounted

In [ ]:
SELECT product_id,
       name,
       price,
       '25%' AS discount,
       price * 0.75 AS price_discounted
  FROM products
 WHERE name LIKE '%чай %'
       AND price > 60

### Задача 5

Из таблицы `user_actions` выведите всю информацию о действиях пользователей с id 170, 200 и 230 за период с 25 августа по 4 сентября 2022 года включительно. Результат отсортируйте по времени совершения действия — от самых поздних действий к самым первым.

Поля в результирующей таблице: user_id, order_id, action, time

In [ ]:
SELECT user_id, 
       order_id, 
       action,
       time
  FROM user_actions
 WHERE user_id IN (170, 200,  230) 
       AND time BETWEEN '2022-8-25'
       AND '2022-9-5'
 ORDER BY time DESC

### Задача 6

Напишите SQL-запрос к таблице `couriers` и выведите всю информацию о курьерах, у которых не указан их день рождения. Результат отсортируйте по возрастанию id.

Поля в результирующей таблице: birth_date, courier_id, sex

In [ ]:
SELECT birth_date,
       courier_id,
       sex
  FROM couriers
 WHERE birth_date IS NULL
 ORDER BY courier_id

### Задача 7

А теперь давайте решим ещё несколько задач на фильтрацию, чтобы точно убедиться, что мы разобрались в этой теме.

Определите id и дату рождения 50 самых молодых пользователей мужского пола из таблицы users.

Поле в результирующей таблице: user_id, birth_date

In [ ]:
SELECT user_id,
       birth_date
  FROM users
 WHERE sex = 'male'
       AND birth_date IS NOT NULL
 ORDER BY birth_date DESC 
 LIMIT 50

### Задача 8

Напишите SQL-запрос к таблице `courier_actions`, чтобы узнать id и время доставки последних 10 заказов, доставленных курьером с id 100.

Поля в результирующей таблице: order_id, time

In [ ]:
SELECT order_id,
       time 
  FROM courier_actions
 WHERE courier_id = 100 
       AND action = 'deliver_order'
 ORDER BY time DESC 
 LIMIT 10

### Задача 9

Из таблицы `user_actions` получите id всех заказов, сделанных пользователями сервиса в августе 2022 года. Результат отсортируйте по возрастанию id заказа.

Поле в результирующей таблице: order_id

In [ ]:
SELECT order_id
  FROM user_actions
 WHERE DATE_PART('year', time) = 2022
       AND DATE_PART('month', time) = 8
       AND action = 'create_order'
 ORDER BY order_id

### Задача 10

Из таблицы `couriers` отберите id всех курьеров, родившихся в период с 1990 по 1995 год включительно. Результат отсортируйте по возрастанию id курьера.

Поле в результирующей таблице: courier_id

In [ ]:
SELECT courier_id
  FROM couriers
 WHERE DATE_PART('year', birth_date) BETWEEN 1990
       AND 1995
 ORDER BY courier_id

### Задача 11

Из таблицы `user_actions` получите информацию о всех отменах заказов, которые пользователи совершали в течение августа 2022 года по средам с 12:00 до 15:59. Результат отсортируйте по времени отмены заказа — от самых последних отмен к самым первым.

Поля в результирующей таблице: user_id, order_id, action, time

In [ ]:
SELECT user_id,
       order_id,
       action,
       time
  FROM user_actions
 WHERE DATE_PART('year', time) = 2022
       AND DATE_PART('month', time) = 8
       AND DATE_PART('dow', time) = 3
       AND DATE_PART('hour', time) >= 12
       AND DATE_PART('hour', time) < 16
       AND action = 'cancel_order'
 ORDER BY time DESC

### Задача 12

И напоследок давайте вернёмся к нашим налогам.

В прошлом уроке мы решили задачу для одного из менеджеров и посчитали НДС каждого товара. Вы долго смотрели на получившиеся расчёты и вас всё-таки замучила совесть: вы точно помните, что на отдельные группы товаров НДС составляет 10%, а не 20%.

Поскольку менеджер перестал отвечать на ваши сообщения, вы решили написать напрямую бухгалтеру компании и запросили список товаров, на которые распространяется НДС 10%.

Вот какой список вы получили:

'сахар', 'сухарики', 'сушки', 'семечки', 
'масло льняное', 'виноград', 'масло оливковое', 
'арбуз', 'батон', 'йогурт', 'сливки', 'гречка', 
'овсянка', 'макароны', 'баранина', 'апельсины', 
'бублики', 'хлеб', 'горох', 'сметана', 'рыба копченая', 
'мука', 'шпроты', 'сосиски', 'свинина', 'рис', 
'масло кунжутное', 'сгущенка', 'ананас', 'говядина', 
'соль', 'рыба вяленая', 'масло подсолнечное', 'яблоки', 
'груши', 'лепешка', 'молоко', 'курица', 'лаваш', 'вафли', 'мандарины'

In [ ]:
SELECT product_id,
       name,
       price,
       CASE WHEN name IN ('сахар', 'сухарики', 'сушки', 'семечки', 
                          'масло льняное', 'виноград', 'масло оливковое', 
                          'арбуз', 'батон', 'йогурт', 'сливки', 'гречка', 
                          'овсянка', 'макароны', 'баранина', 'апельсины', 
                          'бублики', 'хлеб', 'горох', 'сметана', 'рыба копченая', 
                          'мука', 'шпроты', 'сосиски', 'свинина', 'рис', 
                          'масло кунжутное', 'сгущенка', 'ананас', 'говядина', 
                          'соль', 'рыба вяленая', 'масло подсолнечное', 'яблоки', 
                          'груши', 'лепешка', 'молоко', 'курица', 'лаваш', 
                          'вафли', 'мандарины') THEN ROUND(price - price / 1.1, 2)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          2)
            ELSE ROUND(price - price / 1.2, 2) 
            END AS tax,
       CASE WHEN name IN ('сахар', 'сухарики', 'сушки', 'семечки', 
                          'масло льняное', 'виноград', 'масло оливковое', 
                          'арбуз', 'батон', 'йогурт', 'сливки', 'гречка', 
                          'овсянка', 'макароны', 'баранина', 'апельсины', 
                          'бублики', 'хлеб', 'горох', 'сметана', 'рыба копченая', 
                          'мука', 'шпроты', 'сосиски', 'свинина', 'рис', 
                          'масло кунжутное', 'сгущенка', 'ананас', 'говядина', 
                          'соль', 'рыба вяленая', 'масло подсолнечное', 'яблоки', 
                          'груши', 'лепешка', 'молоко', 'курица', 'лаваш', 
                          'вафли', 'мандарины') THEN ROUND(price / 1.1, 2)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        2)
            ELSE ROUND(price / 1.2, 2) END AS price_before_tax
  FROM products
 ORDER BY price_before_tax DESC, 
          product_id